.section-qualities {
    padding-bottom: 94px;
    padding-top: 94px;
}

.qualities-list {
    display: flex;
}

.qualities-list__item {
    width: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.qualities-list__image-box {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
}


.qualities-list__title {
    margin-bottom: 10px;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-color);
}

.qualities-list__text {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}