@media screen and (max-width: 479px) { 
    .section-team {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f5f4fa;
}


.team-list__item {
    background-color: var(--third-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-top: 30px;

}

.team-list__img {
    width: 100%;
}

.names {
    padding-top: 30px;
    padding-bottom: 30px;
}

.names__title {
    padding-bottom: 10px;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.names__position {
    margin-bottom: 16px;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}
}

@media screen and (min-width: 480px) {
.section-team {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f5f4fa;
}

.team-list__item {
    background-color: var(--third-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-top: 30px;
    
}

.team-list__img {
    width: 100%;
}

.names {
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.names__title {
    padding-bottom: 10px;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.names__position {
    margin-bottom: 16px;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}
}

@media screen and (min-width: 768px) {
    .section-team {
        padding-top: 32px;
        padding-bottom: 32px;
        background: #f5f4fa;
    }
    
    .team-list {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .team-list__item {
        width: 352px;
        background-color: var(--third-text-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-top: 0;
        &:not(:nth-child(2n)) {
            margin-right: 30px;
        }
        
        &:not(:nth-last-child(-n+2)) {
            margin-bottom: 30px;
        }
        
    
    }
    
    .team-list__img {
        width: 100%;
    }
    
    .names {
        padding-right: 74px;
        padding-left: 74px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .names__title {
        padding-bottom: 10px;
        font-family: var(--primary-font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-color);
    }
    
    .names__position {
        margin-bottom: 16px;
        font-family: var(--primary-font-family);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--secondary-text-color);
    }
}


@media screen and (min-width: 1600px) {
    .section-team {
        padding-top: 94px;
        padding-bottom: 94px;
        background: #f5f4fa;
    }
    
    .team-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    
    .team-list__item {
        background-color: var(--third-text-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        &:not(:last-child) {
            margin-right: 30px;
            margin-bottom: 0px;
        }
    }
    
    .names {
        padding-right: 32px;
        padding-left: 32px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .names__title {
        padding-bottom: 10px;
        font-family: var(--primary-font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-color);
    }
    
    .names__position {
        margin-bottom: 16px;
        font-family: var(--primary-font-family);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--secondary-text-color);
    }

}