.current {
    color: var(--accent-color);
    &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -4px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
    }
}

