.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.header-section {
margin-bottom: 50px;
font-family: var(--primary-font-family);
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
color: var(--main-color);
}

@media screen and (min-width: 480px) {
    .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    }
    .hero__container {
        width: 480px;
        height: 400px;
                margin-left: auto;
                margin-right: auto;
    }

    .header__container {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero__container {
        width: 738px;
        height: 400px;
                margin-left: auto;
                margin-right: auto;
    }

        .header__container {
            margin-left: auto;
            margin-right: auto;
            }
    
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
        .hero__container {
            width: 1200px;
            height: 400px;
        
        }
                .header__container {
                    margin-left: auto;
                    margin-right: auto;
                }
}

