:root {
    --main-color: #212121;
    --accent-color: #2196f3;
    --secondary-text-color: #757575;
    --third-text-color: #ffffff;
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
}